<div class="look-preview-container">
  <app-look-preview-item [typeLabel]="'Headdress'"
  [images]="['https://content.rozetka.com.ua/goods/images/big/332071922.jpg',
  'https://content.rozetka.com.ua/goods/images/big/332071922.jpg',
  'https://content.rozetka.com.ua/goods/images/big/332071922.jpg',
  'https://content.rozetka.com.ua/goods/images/big/332071922.jpg',
  'https://img.modivo.cloud/product(e/4/c/e/e4ce92c0e9440df236c78df656139a51f3d976f4_8720113711847_1_.jpg,webp)/tommy-hilfiger-beisbolka-th-established-cap-am0am07352-chornii.webp']"></app-look-preview-item>
  <app-look-preview-item [typeLabel]="'Torso'" [images]="['https://content.rozetka.com.ua/goods/images/big/332071922.jpg',
  'https://img.modivo.cloud/product(e/4/c/e/e4ce92c0e9440df236c78df656139a51f3d976f4_8720113711847_1_.jpg,webp)/tommy-hilfiger-beisbolka-th-established-cap-am0am07352-chornii.webp']"></app-look-preview-item>
  <app-look-preview-item [typeLabel]="'Legwear'" [images]="['https://content.rozetka.com.ua/goods/images/big/332071922.jpg',
  'https://img.modivo.cloud/product(e/4/c/e/e4ce92c0e9440df236c78df656139a51f3d976f4_8720113711847_1_.jpg,webp)/tommy-hilfiger-beisbolka-th-established-cap-am0am07352-chornii.webp']"></app-look-preview-item>
</div>
