<div class="look-preview-container">
  <app-look-preview-item [typeLabel]="'Headdress'"
                         (selectClothesElementById)="selectClothesElement($event)"
                         [images]="getImagesByType(CLOTHES_ELEMENT_TYPE.HEADDRESS)">
  </app-look-preview-item>
  <app-look-preview-item [typeLabel]="'Torso'"
                         (selectClothesElementById)="selectClothesElement($event)"
                         [images]="getImagesByType(CLOTHES_ELEMENT_TYPE.TORSO)">
  </app-look-preview-item>
  <app-look-preview-item [typeLabel]="'Legwear'"
                         (selectClothesElementById)="selectClothesElement($event)"
                         [images]="getImagesByType(CLOTHES_ELEMENT_TYPE.LEGWEAR)">
  </app-look-preview-item>
  <app-look-preview-item [typeLabel]="'Feet'"
                         (selectClothesElementById)="selectClothesElement($event)"
                         [images]="getImagesByType(CLOTHES_ELEMENT_TYPE.FEET)">
  </app-look-preview-item>
  <app-look-preview-item [typeLabel]="'Accessories'"
                         (selectClothesElementById)="selectClothesElement($event)"
                         [images]="getImagesByType(CLOTHES_ELEMENT_TYPE.ACCESSORIES)">
  </app-look-preview-item>
</div>
