<mat-toolbar color="primary">
  <div class="logo-container">
    <app-logo-title></app-logo-title>
  </div>
  <div class="nav-links-wrapper">
    <div class="nav-links">
      <button mat-raised-button type="submit"
              class="nav-links-button" routerLink="/market">
        Market
      </button>
      <button mat-raised-button type="submit"
              class="nav-links-button" routerLink="/magic-search">
        Magic search
      </button>
      <button mat-raised-button type="submit"
              class="nav-links-button" routerLink="/favorites">
        Favorites
      </button>
      <button mat-raised-button type="submit"
              class="nav-links-button" routerLink="/my-works">
        My works
      </button>
      <button mat-raised-button type="submit"
              class="nav-links-button" routerLink="/builder">
        Outfit builder
      </button>
    </div>
  </div>
</mat-toolbar>

