.carousel-container {
  width: fit-content;
  margin: 0 3rem;
}

.carousel-wrapper {
  display: flex;
  align-items: center;

  .main-image-wrapper {
    position: relative;

    #prev-img, #next-img {
      position: absolute;
      background: #E1E1E1;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #prev-img {
      left: -4rem;
    }

    #next-img {
      right: -4rem;
    }
  }
}

.main-image {
  width: 500px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.thumbnails-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 1rem;
}

.thumbnails-grid img {
  width: 120px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  transition: border 0.3s ease;
  border-radius: 3px;
}

.thumbnails-grid img.active {
  border: 3px solid #9A9DC5;
}
