<div class="look-details-container">
  <div class="look-details-left-container">
    <div class="top-info-container">
      <div class="left-info">
        <div class="look-label">
          {{ outfit?.name }}
        </div>
        <div class="tags-list">
          <app-tag [label]="tag" *ngFor="let tag of outfit?.tags"></app-tag>
        </div>
      </div>
      <div class="right-info">
        <div class="rating">
          <app-star-rating [rating]="outfit?.rate"></app-star-rating>
        </div>
        <div class="designed-by">
          Designed by <br/> #{{ outfit?.designerName }}
        </div>
      </div>
    </div>
    <div class="look-clothes-preview">
      <app-look-preview [outfitClothes]="outfit?.outfitClothes"
      (selectClothesElementEmitter)="onSelectClothesElement($event)">
      </app-look-preview>
    </div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Comments
        </mat-expansion-panel-header>
        <div class="comments">
          <app-comment-builder (onSaveNewComment)="onSaveNewComment($event)"></app-comment-builder>
          <app-comment [outfitComment]="comment" *ngFor="let comment of outfit?.comments">
          </app-comment>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="look-details-right-container">
    <ng-container *ngIf="currentClothesElement">
      <div class="right-details-header">
        <div class="label">
          {{currentClothesElement.clothesElementName}}
        </div>
        <div class="buy-this-good">
          {{currentClothesElement.brand}}
        </div>
      </div>
      <div class="details-carousel">
        <app-img-carousel [images]="getCurrentClothesElementImages()"></app-img-carousel>
      </div>
    </ng-container>
  </div>
</div>
