<div class="opacity-container"></div>
<div class="register-container">
  <mat-card>
    <app-logo-title></app-logo-title>
    <div class="register-title">
      Sign up
    </div>
    <div class="login">
      Already have an account? Log in
    </div>
    <mat-card-content>
      <form>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required>
          <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
            Please enter a valid email.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="registrationForm.get('password')?.hasError('minLength')">
            Password should be at least 6 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" required>
        </mat-form-field>

        <button mat-raised-button class="full-width register-button"
                [disabled]="!registrationForm.valid">
          Register
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
