<div class="favorites">
  <div class="label">Favorites</div>
  <div class="look-cards">
    <app-editable-look-card [editable]="false" [favoritesButton]="false">
    </app-editable-look-card>
    <app-editable-look-card [editable]="false" [favoritesButton]="false">
    </app-editable-look-card>
    <app-editable-look-card [editable]="false" [favoritesButton]="false">
    </app-editable-look-card>
    <app-editable-look-card [editable]="false" [favoritesButton]="false">
    </app-editable-look-card>
    <app-editable-look-card [editable]="false" [favoritesButton]="false">
    </app-editable-look-card>
  </div>
</div>
