.editable-look-card {
  position: relative;

  .delete-btn, .edit-svg {
    position: absolute;
    z-index: 10;
    top: 3.5rem;
    right: 0.8rem;
  }

  .edit-svg {
    top: 6rem !important;
  }
}
