<mat-card>
  <mat-card-content>
    <button mat-icon-button class="add-to-favorites">
      <img src="assets/images/heart.svg" alt="">
    </button>
    <div class="image-grid">
      <div class="column-one">
        <div class="top">
          <img
            src="https://img.modivo.cloud/zoomapp(1/e/a/1/1ea1b3e4eebc90574a3e83c694eea004ade14694_20_3615731228974.jpg,webp)/polo-ralph-lauren-polo-322603252-chervonii-regular-fit.webp"
            alt="">
        </div>
        <div class="bottom">
          <img
            src="https://img.modivo.cloud/zoomapp(b/4/f/e/b4fe5cceb7022a28a7134aedbda039375f9f0915_01_3666354817212.jpg,webp)/lacoste-sportivni-shorti-gh9627-bilii-regular-fit-0000303718299.webp"
            alt="">
        </div>
      </div>
      <div class="column-two">
        <div class="top">
          <img src="https://img2.ans-media.com/i/1080x1626/SS23-PKM03P-99X_F1.jpg?v=1678343221" alt="">
        </div>
        <div class="middle">
          <img src="https://content2.rozetka.com.ua/goods/images/big/59735575.jpg" alt="">
        </div>
        <div class="bottom">
          <img src="https://s.estro.ua/static/content/thumbs/*x*/a/51/macsad-9711317de9ca38925d9211036443351a.jpg"
               alt="">
        </div>
      </div>
    </div>
    <div class="info-container">
      <div class="designed-by">
        Designed by <br/> #YehorBukhanets
      </div>
      <div class="look-rate">
        <app-star-rating></app-star-rating>
        150 comments
      </div>
    </div>
  </mat-card-content>
</mat-card>
