<mat-card (click)="redirectToOutfitDetailedInfo()">
  <mat-card-content>
    <div class="control-buttons">
      <ng-container *ngIf="favoritesButton">
        <ng-container *ngIf="outfitPreview?.isFavorite">
          <button mat-icon-button class="add-to-favorites" (click)="onRateChange(false, $event)">
            <img src="assets/images/heart.svg" alt="">
          </button>
        </ng-container>
        <ng-container *ngIf="!outfitPreview?.isFavorite">
          <button mat-icon-button class="add-to-favorites" (click)="onRateChange(true, $event)">
            <img src="assets/images/heart_border.svg" alt="">
          </button>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="editable">
        <button mat-icon-button class="edit-svg" (click)="onEditClick($event)">
          <img src="assets/images/edit.svg" alt="">
        </button>
      </ng-container>
      <ng-container *ngIf="deletable">
        <button mat-icon-button class="delete-btn" (click)="onDeleteClick($event)">
          <img src="assets/images/delete.svg" alt="">
        </button>
      </ng-container>
    </div>
    <div class="image-grid">
      <div class="column-one">
        <div class="top torso">
          <img
            src="{{outfitPreview?.outfitClothesPreview?.torso?.preview}}"
            alt="">
        </div>
        <div class="bottom legwear">
          <img
            src="{{outfitPreview?.outfitClothesPreview?.legwear?.preview}}"
            alt="">
        </div>
      </div>
      <div class="column-two">
        <div class="top headdress">
          <img src="{{outfitPreview?.outfitClothesPreview?.headdress?.preview}}"
               alt="">
        </div>
        <div class="middle accessories">
          <img src="{{outfitPreview?.outfitClothesPreview?.accessories?.preview}}"
               alt="">
        </div>
        <div class="bottom feet">
          <img src="{{outfitPreview?.outfitClothesPreview?.feet?.preview}}"
               alt="">
        </div>
      </div>
    </div>
    <div class="info-container">
      <div class="designed-by">
        Designed by <br/> #{{ outfitPreview?.designerName }}
      </div>
      <div class="look-rate">
        <app-star-rating [clickable]="false" [rating]="outfitPreview?.rate"></app-star-rating>
        {{ outfitPreview?.numberOfComments }} comments
      </div>
    </div>
  </mat-card-content>
</mat-card>
