<div class="market-container">
  <div class="left-filters">
    <div>Filters</div>
    <div class="filters">
      <app-filter [filterLabel]="'Brands'" [options]="['Nike', 'Adidas', 'Puma']"></app-filter>
      <app-filter [filterLabel]="'Brands'" [options]="['Nike', 'Adidas', 'Puma']"></app-filter>
    </div>
    <hr/>
    <button class="apply-filters" mat-button>
      Apply filters
    </button>
  </div>
  <div class="right-content">
    <div class="search-bar">
      <app-search></app-search>
    </div>
    <div class="look-cards">
      <app-look-card></app-look-card>
      <app-look-card></app-look-card>
      <app-look-card></app-look-card>
      <app-look-card></app-look-card>
      <app-look-card></app-look-card>
      <app-look-card></app-look-card>
      <app-look-card></app-look-card>
      <app-look-card></app-look-card>
      <app-look-card></app-look-card>
      <app-look-card></app-look-card>
    </div>
  </div>

</div>

